@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1>@ViewData["Title"]</h1>
    <h2>@ViewData["Message"]</h2>

    <p>@((DateTime.Now - TimeSpan.FromDays(1)).ToShortDateString())</p>
</div>

<div class="text-center">    
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
